@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background: #e2e1e0; */
    background: #f9f9f9;
}

/* HEADER */

.material-icons{
    color: rgb(96, 96, 96);
}

ul {
    list-style: none;     
}

a{
    text-decoration: none;   
}

.navbar {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}

.navbar ul{
    display: flex;   
}

.navbar a{
    padding: 10px;
    margin: 0 5px;
}

.navbar-left img{
    height: 25px;
}

.navbar-middle form{
    display: flex;
}

#search-box{
  width: 500px;
  border: 1px solid #ddd;
  padding: 1px 0;
  border-right: none;
  padding: 10px;
  height: 40px;
  outline-color: #4285F4;
  font-size: 16px; 
}

#search-glass-button{
    border: 1px solid rgb(211, 211, 211);
    height: 40px;
    width: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0 2px 2px 0;
    cursor: pointer;   
}

#mic{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
    background-color: #e4e4e4;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

}

#search-glass-button:hover {
    background-color: #e4e4e4;
}
/* END OF HEADER STYLING */


main{
    display: flex;
    transition: margin-left .5s;
    /* padding: 16px; */
}

/* SIDEBAR */
  
  .sidebar {
    position: fixed;  
    height: 100%;
    width: 15%;
    left: -250px;
    background-color: white;
    overflow-y: scroll;
    margin-top: 1px;
    transition: all 500ms ease;
  }

  #sidebar.active {
    left: 0px;
  }
  
  .sidebar-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .sidebar-category {
    display: flex;
    align-items: center;
    padding: 12px;
  }
  
  .sidebar-category span {
    margin-left: 10px;
  }
  
  .sidebar-category:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  
  hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
  }
  /* END OF SIDEBAR */

  .page-content{
    display: flex;
    transition: .3s ease-in-out;
  }

  .fade{
    background-color: rgba(0, 0, 0, 0.4);
  } 

  /* VIDEO SECTION */

  .player-section{
      display: flex;
      flex-direction: column;
      margin: 20px 25px 15px;
      max-width: 1040px;
      width: 100%;
      height: 100%;   
  }
 
  .playing-video iframe{
      display: flex;
      border-radius: 0px 0px 10px 10px;
      max-width: 100%;    
  }
  .playing-video-info{
      margin:  10px;
      max-width: 987px;
  }

  .views-date{
      font-size: 14px;
      color: #858181;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .feedback{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .feedback .material-icons{
      padding: 6px;
      cursor: pointer;
  }

  .feedback h4{
      color: black;
      cursor: pointer;
  }

  .feedback-element{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
  }

  .description-container{
      display: flex;
      justify-content: space-between;
      max-width: 1030px;
      align-items: center;
  }

  .description{
      display: flex;
      margin-top: 10px;
  }

  .description img{

      width: 50px;
      border-radius: 50%;
  }

  .chanel-name{  
     margin: 13px 0 0 13px;
  }

  .verified i{
      margin-top: 17px;
      margin-left: 3px;
      font-size: 14px;
  }

  .subscribe button{
      color: white;
      padding: 10px 16px;
      background-color: #E62117;
      border: none;
      border-radius: 3px;
      text-align: center;
      font-size: 15px;
      cursor: pointer;
  }

  .description-text{
      overflow-wrap: break-word;
      margin-left: 60px;
      max-width: 565px;
      font-size: 14px;
  }

  .subscriber-count{
    font-size: 12px;
    color: #858181;
    padding: 2px;
  }

  .side-videos{
      margin-top: 20px;
      width: 500px;
  }

  .side-video-block{
      display: flex;
      padding: 0px 24px 0px 0px;
      
  }

  .video-thumbnail img{
      width: 200px;
      margin-right: 5px;
      cursor: pointer;
  }

  .video-details{
      display: flex;
      flex-direction: column;
  }

/* WRAPING SIDE VIDEO TITLE ON TWO LINES AND SHOWING ELIPSES*/
  .side-video-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    width: 226px;
    margin: 0px 0px 4px;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    
  }

  .side-video-chanel-name{
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #858181;
      padding-top: 4px;
      cursor: pointer;
    
  }
  .side-video-chanel-name i{
      font-size: 14px;
  }

  .side-video-views-date{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #858181;
    margin-top: 4px;
    cursor: pointer;
  }

  

/* MEDIA QUERIES */

@media (max-width: 550px) {
    #search-box {
      display: none;
    }

    #search-glass-button{
        background: none;
        border: none;
    }

    #search-glass-button:hover{
        background-color: white;
    }

    #mic{
        margin-left: 0;
        background: none;
    }
  
    .sidebar {
      display: none;
    }
  }

  @media (max-width:940px) {
      #search-box{
          width: 100%;
      }
  }





