@import url('http://fonts.cdnfonts.com/css/youtube-sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #e2e1e0;
}

/* HEADER */

.material-icons{
    color: rgb(96, 96, 96);
}

ul {
    list-style: none;     
}

a{
    text-decoration: none;   
}

.navbar {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    
}

.navbar ul{
    display: flex;   
}

.navbar a{
    padding: 10px;
    margin: 0 5px;
}

.navbar-left img{
    height: 25px;
}

.navbar-middle form{
    display: flex;
}

#search-box{
  width: 500px;
  border: 1px solid #ddd;
  padding: 1px 0;
  border-right: none;
  padding: 10px;
  height: 40px;
  outline: none;
  font-size: 16px;
  
}

#search-glass-button{
    border: 1px solid rgb(211, 211, 211);
    height: 40px;
    width: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0 2px 2px 0;
    cursor: pointer;   
}

#mic{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;
    background-color: #e4e4e4;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

}

#search-glass-button:hover {
    background-color: #e4e4e4;
}

/* END OF HEADER STYLING */







